.cart-holder {
    width: 250px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: .3s ease-out;

    .cart-item-holder {
        height: 100px;
        display: flex;
        .image-holder {
            width: 30%;
            margin-right: 15px;
            & > img {
                width: 100%;
            }
        }
    }
}
.hide-cart {
    display: none;
}