@import '../../styles/helper';

.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
  .btn-group {
    button {
      display: block;
      width: 250px;
      margin-bottom: 10px;
      @extend %m-auto;
    }
  }

}